aiofiles
aiohttp
anitopy
beautifulsoup4
bencode.py
cinemagoer
deluge-client
ffmpeg-python
guessit
Jinja2
language-data<=1.2.0; python_version<='3.8'
langcodes<=3.4.0; python_version<='3.8'
langcodes; python_version>'3.8'
nest_asyncio
packaging
pyimgbox
pyotp
pyoxipng
pyrobase
pymediainfo
qbittorrent-api<=2023.9.53; python_version<'3.8'
qbittorrent-api; python_version>='3.8'
requests
rich
torf
tmdbsimple
unidecode